@page
@model RegExLib.Web.Pages.IndexModel
@{
    ViewData["Title"] = "RegExLib";
}

<h2>RegExLib</h2>

<partial name="_LoginPartial" />

@if (User.Identity.IsAuthenticated)
{
    <h3>Logged In</h3>
}
else
{
    <h3>Not Logged In</h3>
}