@inherits LayoutComponentBase


<div class="main">
    <div class="row top-row justify-content-between">
        <div class="nav-item logo">
            <a href="/">
                <img src="/images/logo.gif" />
            </a>
        </div>
        @if (@IsLoggedIn)
        {
            <div class="nav-item">
                <a target="_blank" class="ml-md-auto profile" @onclick="@ProfileClick">Hi @UserName</a>
            </div>
            <div class="nav-item">
                <button class="btn btn-danger" @onclick="@LogoutClick">Log Out</button>

            </div>
        }
        else
        {
            <div class="nav-item">
                <button class="btn btn-primary" @onclick="@LoginClick">Log In</button>
            </div>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
